.container {
  display: flex;
  align-items: center;
  justify-content: left;
	margin: 100px;
  
}

.amountRaised {
  font-weight: 900;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.req-img{
  height:100px;
  width: 100px;
}