* {
  box-sizing: border-box;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  textarea{
    
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  .main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  label {
   text-align: left;
    margin-bottom: 10px;
    display: block;
  }
  
  .condition label {
    float: center;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }
  input[type=radio],
    input.radio {
      float: center;
      clear: none;
      margin: 2px 0 0 2px;
    }
  button {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  /* .mainsection {
    display: block;
    justify-content: center;
    width: 75%;
    border-radius: 5px;
    padding: 20px;
    
  } */
 .main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
   
   
   
   