.stories {
  display: flex;
  flex-wrap: wrap;
}

.story {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 47%;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
}
