.goods-display 
  .hr {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    color: rgb(109, 109, 109);
  }


.goods-container {
  display: flex; 
  flex-wrap: wrap;
  /* justify-content:space-around; */
}


/* .goods-img {
	display:block;
 margin:10px 5px 10px 5px;
	border-radius: 15px;
	transition: transform 0.5s ease;
	object-fit: cover;
	width:  100%;
    height: 180px;
	margin : 5px;
} */



 .products {
  display: flex;
  flex-direction: column;
  margin: 1em;
  max-width: 300px;
  justify-content: center; 
  position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      /* padding:       15px; */
      /* padding-bottom: 80px; */
      margin-top:    20px;
}
.goods-img {
  height: 10em;
  width: 10em;
  justify-content: center;
  /* align-items: center; */
}

/* .goods-img:hover {
  box-shadow:  0 0 30px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 30px  15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 30px 15px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 30px 15px rgba(0,0,0,0.6);
} */

/* .goods-details{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.5em;
} */

/* .goods_details > td {
  display: flex;
  justify-self: end;
  margin-left: 80px;
} */
/* .item {
  font-size: 20px;
  display: flex;
  margin-left: .5em;
  align-items: flex-end;
}  */